@model RobofestWTE.Models.PresentationViewModel

@{
    ViewBag.Title = "Presentation";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
    .almostdone {
        animation-name: color;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .status{
        border-bottom:12px gray solid;
        border-top:12px gray solid;
    }
    @@keyframes color {
        0% {
            border-bottom-color: green;
            border-top-color: green;
        }

        50% {
            border-bottom-color: orange;
            border-top-color: orange;
        }
    }
 .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 1.8s infinite;
  animation-delay: 1.5s;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 1.8s infinite;
  animation-delay: 1.5s;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 1.8s infinite;
  animation-delay: 1.5s;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 1.8s infinite;
  animation-delay: 1.5s;
}
@@keyframes lds-ellipsis1 {
  0%, 20% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@@keyframes lds-ellipsis3 {
  0%, 20% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@@keyframes lds-ellipsis2 {
  0%, 20% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.currenttimecolon{
    color:black;
    animation: blinkanimation 2s infinite;
}
@@keyframes blinkanimation{
    0%, 50%{
        color:#EEEEEE;
    }
    51%, 100%{
        color:black;
    }
}
.bottleicon {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


</style>
<body onload="startTime()"></body>

<div class="jumbotron" style="text-align:center" id="fullscreenthis">
    <div id="stage1" style="width:100%;margin-left:0;margin-right:0">
        <table style="width:100%;background-color:lightgray;border-radius:8px;padding-bottom:10px">
            <tr>
                <td style="text-align:left;padding-bottom:10px;width:34%;padding:20px">
                    <img src="~/images/robofest_words_transparent.png" style="height:4vw" />
                </td>
                <td style="width:33%;padding:20px">
                    <span style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray;font-size:2.5vw">Field Setup</span>
                </td>
                <td style="text-align:right;width:33%;padding:20px">
                    <strong><span class="statustopbar" style="border-radius:0px 4px 4px 0px;font-family:Arial, Helvetica, sans-serif;background-color:black;padding:5px;color:white;margin-bottom:0px;margin-top:0px;font-size:3vh;border-left:6px solid gray" class="timerarea"><span id="minutes" class="timerarea minutes">0</span>:<span id="seconds" class="timerarea seconds">00</span></span></strong>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <!--<table align="center">
        <thead>
            <caption style="text-align:center">Top Teams! (Total: @Model.TeamCount)</caption>
            <tr style="text-align:center;padding-right:5px;border-bottom:#000000 1px solid">
                <th width="10%" style="text-align:left">
                    Rank
                </th>
                <th width="30%" style="text-align:center">
                    Team Number
                </th>
                <th width="30%" style="text-align:center">
                    Team Name
                </th>
                <th width="30%" style="text-align:center">
                    Score
                </th>
            </tr>
        </thead>
        <tbody class="topteams">

            @{int i = 0; }
            @foreach (var item in Model.Scoreboard)
            {
                i++;
                if (i > 10)
                {
                    <tr style="text-align:center;padding-left:5px">
                        <th width="10%" style="text-align:left">
                            @i
                        </th>
                        <th width="30%" style="text-align:center">
                            @item.TeamNumberBranch-@item.TeamNumberSpecific
                        </th>
                        <th width="30%" style="text-align:center">
                            @item.TeamName
                        </th>
                        <th width="30%" style="text-align:center" id="@item.TeamNumberBranch-@item.TeamNumberSpecific">
                            @item.Average
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>-->


        <br />
        <table style="text-align: center; width: 100%; position: relative; width: 100%">

            <tr>
                <td class="field1s" style="background-color: lightgray; border-top: gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 1</h3>


                    <h4 class="field1team" style="font-family:Georgia;padding:10px"></h4>
                </td>
                <td class="field2s" style="background-color:lightgray;border-top:gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 2</h3>


                    <h4 class="field2team" style="font-family:Georgia;padding:10px"></h4>
                </td>
                <td class="field3s" style="background-color:lightgray;border-top:gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 3</h3>


                    <h4 class="field3team" style="font-family:Georgia;padding:10px"></h4>
                </td>
            </tr>
            <tr>
                <td class="field4s" style="background-color:lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 4</h3>


                    <h4 class="field4team" style="font-family:Georgia;padding:10px"></h4>
                </td>
                <td class="field5s" style="background-color: lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 5</h3>


                    <h4 class="field5team" style="font-family:Georgia;padding:10px"></h4>
                </td>
                <td class="field6s" style="background-color: lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family:Georgia;padding:10px">Field 6</h3>


                    <h4 class="field6team" style="font-family:Georgia;padding:10px"></h4>
                </td>

            </tr>
        </table>


    </div>
    <div id="stage2">
        <table style="width:100%;background-color:lightgray;border-radius:8px;padding-bottom:10px">
            <tr>
                <td style="text-align:left;padding-bottom:10px;width:34%;padding:20px">
                    <img src="~/images/robofest_words_transparent.png" style="height:4vw" />
                </td>
                <td style="width:33%;padding:20px">
                    <span style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray;font-size:2.5vw">GAME</span>
                </td>
                <td style="text-align:right;width:33%;padding:20px">
                </td>
            </tr>
        </table>
        <br />
        <br />
        <div style="border-radius:4px;display:inline-block;border-radius:8px">
            <strong><span style="border-radius:8px 8px 0px 0px;font-family:Arial, Helvetica, sans-serif;background-color:black;padding:35px;color:white;margin-bottom:0px;margin-top:0px;font-size:200px" class="timerarea"><span id="minutes" class="timerarea minutes">0</span>:<span id="seconds" class="timerarea seconds">00</span></span></strong>


            <div style="background-color:lightgray;text-align:center;border-radius:0px 0px 8px 8px">

                <div class="statustimeout" style="background-color:gray;width:100%;height:40px;border-radius:0px 0px 8px 8px"></div>
            </div>

        </div>
        <br />
        <br />
        <br>
        <table style="text-align:center;width:100%;height:50%">

            <tr>
                <td class="field1st" style="width:11.25%">
                    
                    <span id="f1wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f1ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f1ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f1b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f1b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f1b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f1b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f1b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field1score field1ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:gray">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field1team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 1</h3>
                </td>
                <td width="5%"></td>
                <td class="field2st" style="width:12.5%">
                    
                    <span id="f2wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f2ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f2ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f2b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f2b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f2b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f2b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f2b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field2score field2ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:grey">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field2team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 2</h3>
                </td>
                <td width="5%"></td>
                <td class="field3st" style="width:12.5%">
                    
                    <span id="f3wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f3ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f3ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f3b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f3b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f3b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f3b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f3b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field3score field3ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:gray">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field3team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 3</h3>
                </td>
                <td width="5%"></td>
                <td class="field4st" style="width:12.5%">
                    
                    <span id="f4wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f4ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f4ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f4b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f4b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f4b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f4b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f4b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field4score field4ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:gray">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field4team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 4</h3>
                </td>
                <td width="5%"></td>
                <td class="field5st" style="width:12.5%">
                    
                    <span id="f5wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f5ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f5ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f5b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f5b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f5b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f5b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f5b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field5score field5ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:gray">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field5team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                        
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 5</h3>
                </td>
                <td width="5%"></td>
                <td class="field6st" style="width:12.5%">
                    
                    <span id="f6wb" style="font-size:25px;padding:4px;background-color:black;color:white;border-radius:40px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f6ob" style="font-size:25px;padding:4px;background-color:darkorange;color:white;border-radius:40px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                        <span id="f6ib" style="font-size:25px;padding:4px;background-color:red;color:white;border-radius:20px;margin-top:10px;padding-right:10px;padding-left:10px"><strong>0</strong></span>
                    <div style="border:2px solid gray;background-color:whitesmoke;border-radius:16px;padding-bottom:5px;margin-top:10px">
                        
                        <table style="width:100%;margin-top:10px;margin-bottom:5px">
                            <tr>
                                <td style="width:20%" id="f6b1">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f6b2">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f6b5">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f6b3">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                                <td style="width:20%" id="f6b4">
                                    <img src="~/images/BottleRegular.png" style="width:21.36px" />
                                </td>
                            </tr>
                        </table>
                        
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h1 class="field6score field6ss" style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:gray">--</h1>
                        <div style="background-color:gray;height:20px;width:100%"></div>
                        <h4 class="field6team" style="font-family:Arial, Helvetica, sans-serif;font-weight:500">EMPTY</h4>
                    </div>
                    <h3 style="font-family:Arial, Helvetica, sans-serif">Field 6</h3>
                </td>

            </tr>
        </table>
    </div>
    <div id="stage3">
        <table style="width:100%;background-color:lightgray;border-radius:8px;padding-bottom:10px">
            <tr>
                <td style="text-align:left;padding-bottom:10px;width:34%;padding:20px">
                    <img src="~/images/robofest_words_transparent.png" style="height:4vw" />
                </td>
                <td style="width:33%;padding:20px">
                    <span style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray;font-size:2.5vw">Awaiting Judges</span>
                </td>
                <td style="text-align:right;width:33%;padding:20px">
                    <strong><span class="statustopbar" style="border-radius:0px 4px 4px 0px;font-family:Arial, Helvetica, sans-serif;background-color:black;padding:5px;color:white;margin-bottom:0px;margin-top:0px;font-size:3vh;border-left:6px solid gray" class="timerarea"><span id="minutes" class="timerarea minutes">0</span>:<span id="seconds" class="timerarea seconds">00</span></span></strong>
                </td>
            </tr>
        </table>
        
        <div style="padding-top:27vh">
            <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray">Please Wait for Judge & Student Confirmation...</h3>
            <span id="field1sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
            <span id="field2sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
            <span id="field3sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
            <span id="field4sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
            <span id="field5sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
            <span id="field6sa" style="background-color:gray;padding:5px;border-radius:6px;color:white;font-size:20px">&#10006;</span>
        </div>
    </div>
    <div id="stage4">
        <table style="width:100%;background-color:lightgray;border-radius:8px;padding-bottom:10px">
            <tr>
                <td style="text-align:left;padding-bottom:10px;width:34%;padding:20px">
                    <img src="~/images/robofest_words_transparent.png" style="height:4vw" />
                </td>
                <td style="width:33%;padding:20px">
                    <span style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray;font-size:2.5vw">Scoring</span>
                </td>
                <td style="text-align:right;width:33%;padding:20px">
                    <strong><span class="statustopbar" style="border-radius:0px 4px 4px 0px;font-family:Arial, Helvetica, sans-serif;background-color:black;padding:5px;color:white;margin-bottom:0px;margin-top:0px;font-size:3vh;border-left:6px solid gray" class="timerarea"><span id="minutes" class="timerarea minutes">0</span>:<span id="seconds" class="timerarea seconds">00</span></span></strong>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table align="center">
            <thead>
                <caption style="text-align:center">Top Teams! (Total: @Model.TeamCount)</caption>
                <tr style="text-align:center;padding-right:5px;border-bottom:#000000 1px solid">
                    <th width="10%" style="text-align:left">
                        Rank
                    </th>
                    <th width="30%" style="text-align:center">
                        Team Number
                    </th>
                    <th width="30%" style="text-align:center">
                        Team Name
                    </th>
                    <th width="30%" style="text-align:center">
                        Score
                    </th>
                </tr>
            </thead>
            <tbody class="topteams">

                @{i = 0; }
                @foreach (var item in Model.Scoreboard)
                {
                    i++;
                    <tr style="text-align:center;padding-left:5px">
                        <th width="10%" style="text-align:left">
                            @i
                        </th>
                        <th width="30%" style="text-align:center">
                            @item.TeamNumberBranch-@item.TeamNumberSpecific
                        </th>
                        <th width="30%" style="text-align:center">
                            @item.TeamName
                        </th>
                        <th width="30%" style="text-align:center" id="@item.TeamNumberBranch-@item.TeamNumberSpecific">
                            @item.Average
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <table style="text-align:center;width:100%">

            <tr>
                <td class="field1s" style="background-color:lightgray;border-top:gray 12px solid">
                    <h3 style="font-family:'Lucida Console'">Field 1</h3>


                    <h2 class="field1score" style="font-family:'Lucida Console'">--</h2>
                    <h4 class="field1team" style="font-family:'Lucida Console'">No Team</h4>
                </td>
                <td class="field2s" style="background-color:lightgray;border-top: gray 12px solid">
                    <h3 style="font-family:'Lucida Console'">Field 2</h3>


                    <h2 class="field2score" style="font-family:'Lucida Console'">--</h2>
                    <h4 class="field2team" style="font-family:'Lucida Console'">No Team</h4>
                </td>
                <td class="field3s" style="background-color:lightgray;border-top:gray 12px solid">
                    <h3 style="font-family:'Lucida Console'">Field 3</h3>


                    <h2 class="field3score" style="font-family:'Lucida Console'">--</h2>
                    <h4 class="field3team" style="font-family:'Lucida Console'">No Team</h4>
                </td>
            </tr>
            <tr>
                <td class="field4s" style="background-color:lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family:'Lucida Console'">Field 4</h3>


                    <h2 class="field4score" style="        font-family: 'Lucida Console'">--</h2>
                    <h4 class="field4team" style="font-family:'Lucida Console'">No Team</h4>
                </td>
                <td class="field5s" style="background-color:lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family: 'Lucida Console'">Field 5</h3>


                    <h2 class="field5score" style="font-family:'Lucida Console'">--</h2>
                    <h4 class="field5team" style="font-family:'Lucida Console'">No Team</h4>
                </td>
                <td class="field6s" style="background-color:lightgray;border-bottom:gray 12px solid">
                    <h3 style="font-family:'Lucida Console'">Field 6</h3>


                    <h2 class="field6score" style="font-family:'Lucida Console'">--</h2>
                    <h4 class="field6team" style="font-family:'Lucida Console'">No Team</h4>
                </td>

            </tr>

        </table>
        <h5 style="text-align:center;font-family:'Lucida Console'" class="lastupdated">* All Fields Deinitialized</h5>
    </div>
    <div id="stage5" class="stage5">
        <table style="width:100%;background-color:lightgray;border-radius:8px;padding-bottom:10px">
            <tr>
                <td style="text-align:left;padding-bottom:10px;width:34%;padding:20px">
                    <img src="~/images/robofest_words_transparent.png" style="height:4vw" />
                </td>
                <td style="width:33%;padding:20px">
                    <span style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray;font-size:2.5vw" class="message">Field Timeout</span>
                </td>
                <td style="text-align:right;width:33%;padding:20px">
                    
                </td>
            </tr>
        </table>
        <div style="border-radius:4px;display:inline-block;margin-top:20vh;border-radius:8px">
            <strong><span style="border-radius:8px 8px 0px 0px;font-family:Arial, Helvetica, sans-serif;background-color:black;padding:35px;color:white;margin-bottom:0px;margin-top:0px;font-size:200px" class="timerarea"><span id="minutes" class="timerarea minutes">0</span>:<span id="seconds" class="timerarea seconds">00</span></span></strong>


            <div style="background-color:lightgray;text-align:center;border-radius:0px 0px 8px 8px">

                <div class="statustimeout" style="background-color:gray;width:100%;height:40px;border-radius:0px 0px 8px 8px"></div>
            </div>

        </div>
        <h3 style="font-family:'Lucida Console'"></h3>
    </div>
    <div id="stage6">
        <div class="splashscreen" style="padding-top:27vh">
            <img src="~/images/robofest_words_transparent.png" height="100" />
            <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray">Scoring Online</h1>
            <br />
            <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;text-shadow:2px 2px lightgray">We'll Be Right Back...</h3>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<button onclick="openFullscreen();">Open Fullscreen</button>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var elem = document.documentElement;
    function openFullscreen() {
        var el = document.getElementById('fullscreenthis');

        // use necessary prefixed versions
        el.webkitRequestFullscreen();
        el.mozRequestFullScreen();
        el.msRequestFullscreen();

        // finally the standard version
        el.requestFullscreen();
    }
</script>
<script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
        $(".currenttimeh").html(h);
        $(".currenttimem").html(m);
      
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
</script>
<script>
    var myIndex = 0;
    $(document).ready(function () {
        // Activate Carousel
        //carousel();
        $("#stage2").css("display", "none")
        $("#stage3").css("display", "none")
        $("#stage4").css("display", "none")
        $("#stage1").css("display", "none")
        $("#stage5").css("display", "none")
    });
    /*function carousel() {
        var i;
        var x = document.getElementsByClassName("item");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000);
    }*/
</script>
<script>
    $(function () {
        var timer = false;
        var minutesc = 0;
        var secondsc = 0;
        var secondsview = "00";
        var interval = false;
        var allseconds = 0;
        var part = 0;
        var fieldarray = [0, 0, 0, 0, 0, 0];
        var fieldconnected = [false, false, false, false, false, false]
        var initsec = 0;
        // Reference the auto-generated proxy for the hub.
        var chat = new signalR.HubConnectionBuilder().withUrl("/scoreHub").build();
        // Create a function that the hub can call back to display messages.
        chat.on("changeTeamScores", function (topten) {
            // Add the message to the page.
            //$('#' + teamnumber).text(score);
            $(".topteams").empty();

            $.each(topten, function (index, value) {
                var markup = "<tr style='text-align:center;padding-left:5px'><th width='10%' style='text-align:left'>" + (index + 1) +
                    "</th><th width='30%' style='text-align:center'>" + value.TeamNumberBranch + "-" + value.TeamNumberSpecific + "</th><th width='30%' style='text-align:center'>" +
                    value.TeamName + "</th><th width='30%' style='text-align:center'>" +
                    value.Average + "</th></tr>";
                $(".topteams").append(markup);
            });
        });

        chat.on("changeStage", function (stage) {
            $("#stage" + 1).css("display", "none");
            $("#stage" + 2).css("display", "none");
            $("#stage" + 3).css("display", "none");
            $("#stage" + 4).css("display", "none");
            $("#stage" + 5).css("display", "none");
            $("#stage" + 6).css("display", "none");
            $("#stage" + stage).css("display", "");
        });
        chat.on("changeGlobalTimer", function (minutes, seconds, message, status) {
            $(".minutes").html(minutes);
            if (seconds < 10) {
                secondsview = "0" + seconds;
            } else {
                secondsview = seconds;
            }
            $(".seconds").html(secondsview);
            $(".message").html(message);
            if (status == 0) {
                $(".status").css("border-bottom", "12px gray solid");
                $(".status").css("border-top", "12px gray solid");
                $(".statustopbar").css("border-left", "6px gray solid");
                $(".statustimeout").css("background-color", "gray");
                $(".status").removeClass("almostdone");
                initsec = ((minutes * 60) + (seconds));
                $(".statustimeout").css("width", "100%");
            } else if (status == 1) {
                $(".status").css("border-bottom", "12px green solid");
                $(".status").css("border-top", "12px green solid");
                $(".statustopbar").css("border-left", "6px green solid");
                $(".statustimeout").css("background-color", "green");
                if (((minutes * 60) + (seconds)) < (initsec / 4)) {
                    $(".status").addClass("almostdone");
                }
                $(".statustimeout").css("width", ((((minutes * 60) + seconds) / initsec)*100)+"%")
            } else if (status == 2 && seconds < 1 && minutes < 1) {
                $(".status").css("border-bottom", "12px red solid");
                $(".statustopbar").css("border-left", "6px red solid");
                $(".status").css("border-top", "12px red solid");

                $(".statustimeout").css("background-color", "red");
                $(".statustimeout").css("width", "100%");
                $(".status").removeClass("almostdone");
            } else {
                $(".status").css("border-bottom", "12px gray solid");
                $(".status").css("border-top", "12px gray solid");
                $(".statustopbar").css("border-left", "6px gray solid");
                $(".statustimeout").css("background-color", "gray");
                $(".status").removeClass("almostdone");
            }
        });
        chat.on("initFieldView", function (field, status, score, team, connection, matchkeeper, data) {
            if (status == 0) {
                if(field < 4){
                    $(".field" + field + "s").css("border-top", "gray 12px solid");
                    $(".field" + field + "ss").css("color", "gray");
                    $(".field" + field + "team").html("EMPTY");
                    $(".lastupdated").html("* Field " + field + " deinitialized!")
                    $("#field" + field + "sa").css("background-color", "gray");
                    $("#field" + field + "sa").html("&#10006;");
                    $(".field" + field + "score").html("--");
                    fieldarray[field - 1] = 0;
                }else{
                    $(".field" + field + "s").css("border-bottom", "gray 12px solid");
                    $(".field" + field + "ss").css("color", "gray");
                    $("#field" + field + "sa").css("background-color", "gray");
                    $("#field" + field + "sa").html("&#10006;");
                $(".field" + field + "team").html("EMPTY");
                $(".lastupdated").html("* Field " + field + " deinitialized!")
                $(".field" + field + "score").html("--");
                fieldarray[field - 1] = 0;
    }

            } else if (status == 1) {
                $(".field" + field + "ss").css("color", "tomato");
                $("#field" + field + "sa").css("background-color", "red");
                    $("#field" + field + "sa").html("&#10006;");
                if(field <4){
                    $(".field" + field + "s").css("border-top", "tomato 12px solid");
                    

                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }

                    $(".lastupdated").html("* Field " + field + " not ready!");
                    fieldarray[field - 1] = 1;
                }else{
                    $(".field" + field + "s").css("border-bottom", "tomato 12px solid");

                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }

                    $(".lastupdated").html("* Field " + field + " not ready!");
                    fieldarray[field - 1] = 1;
                }

                
            } else if (status == 2) {
                $("#field" + field + "sa").css("background-color", "red");
                    $("#field" + field + "sa").html("&#10006;");
                if(field < 4){
                    $(".field" + field + "s").css("border-top", "MediumSeaGreen 12px solid");
                    $(".field" + field + "ss").css("color", "MediumSeaGreen");
                    $(".lastupdated").html("* Field " + field + " ready!");
                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }
                    fieldarray[field - 1] = 2;
                }else{
                    $(".field" + field + "s").css("border-bottom", "MediumSeaGreen 12px solid");
                    $(".field" + field + "ss").css("color", "MediumSeaGreen");
                    $(".lastupdated").html("* Field " + field + " ready!");
                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }
                    fieldarray[field - 1] = 2;
                }
                
            } else if (status == 3) {
                $("#field" + field + "sa").css("background-color", "green");
                $("#field" + field + "sa").html("&#10004;");
                $(".field" + field + "ss").css("color", "dodgerblue");
                if(field < 4){
                    $(".field" + field + "s").css("border-top", "dodgerblue 12px solid");
                    $(".lastupdated").html("* Field " + field + " has submitted final scores!");
                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }
                    fieldarray[field - 1] = 3;
                }else{
                    $(".field" + field + "s").css("border-bottom", "dodgerblue 12px solid");
                    $(".lastupdated").html("* Field " + field + " has submitted final scores!");
                    if (team != "") {
                        $(".field" + field + "team").html(team);
                    } else {
                        $(".field" + field + "team").html("EMPTY");
                    }
                    fieldarray[field - 1] = 3;
                }
                
            } else if (status == 5) {
                if (fieldarray[field - 1] != 0) {
                    $(".field" + field + "score").html(score);
                    var allstrings = data.split("^")
                    var bottles = allstrings[0].split("/")
                    var balls = allstrings[1].split("/")
                    var general = allstrings[2].split("/")
                    var penalty = allstrings[3].split("/")
                    if (bottles[0] > 0) {
                        $("#f" + field + "b1").html("<img src='/images/BottlePositive.png' style='width:21.36px' />");
                    } else {
                        $("#f" + field + "b1").html("<img src='/images/BottleRegular.png' style='width:21.36px' />");
                    }
                    if (bottles[1] > 0) {
                        $("#f" + field + "b2").html("<img src='/images/BottlePositive.png' style='width:21.36px' />");
                    } else {
                        $("#f" + field + "b2").html("<img src='/images/BottleRegular.png' style='width:21.36px' />");
                    }
                    if (bottles[2] > 0) {
                        $("#f" + field + "b3").html("<img src='/images/BottlePositive.png' style='width:21.36px' />");
                    } else {
                        $("#f" + field + "b3").html("<img src='/images/BottleRegular.png' style='width:21.36px' />");
                    }
                    if (bottles[3] > 0) {
                        $("#f" + field + "b4").html("<img src='/images/BottlePositive.png' style='width:21.36px' />");
                    } else {
                        $("#f" + field + "b4").html("<img src='/images/BottleRegular.png' style='width:21.36px' />");
                    }
                    if (bottles[4] < 0) {
                        $("#f" + field + "b5").html("<img src='/images/BottleNegative.png' style='width:21.36px' />");
                    } else {
                        $("#f" + field + "b5").html("<img src='/images/BottleRegular.png' style='width:21.36px' />");
                    }
                    var ob = balls[1] / 18;
                    var wb = balls[0] / 15;
                    var ib = balls[2] / -3;
                    $("#f" + field + "ob").html("<strong>" + ob + "</strong>");
                    $("#f" + field + "wb").html("<strong>" + wb + "</strong>");
                    $("#f" + field + "ib").html("<strong>" + ib + "</strong>");
                }
                if (team != "") {
                    $(".field" + field + "team").html(team);
                } else {
                    $(".field" + field + "team").html("EMPTY");
                }
            }
            if (fieldarray.includes(1) == true) {
                $("#gamestatus").html("Not All Ready!");
            } else {
                $("#gamestatus").html("");
            }
            if (status == 0) {
                $(".field" + field + "connection").html("Off");
                $(".field" + field + "connection").css("background-color", "lightgray");
            } else {
                if (connection == true) {
                    $(".field" + field + "connection").html("LIVE");
                    $(".field" + field + "connection").css("background-color", "red");
                }
                else {
                    $(".field" + field + "connection").html("Paused");
                    $(".field" + field + "connection").css("background-color", "gray");
                }

            }
        });
        chat.on("updateLive", function (field) {
            if (field < 7 && field > 0) {
                fieldconnected[field - 1] = true;
            }
        });
        // Start the connection.
        chat.start().then(function () {
            function checkPongs() {
                if (fieldconnected[0] == true) {
                    if (fieldarray[0] != 0 && fieldarray != 3) {
                        $("#field1lc").html("C");
                    }
                } else {
                    $("#field1lc").html("NC");
                }
                if (fieldconnected[1] == true) {
                    if (fieldarray[1] != 0 && fieldarray != 3) {
                        $("#field2lc").html("C");
                    }
                } else {
                    $("#field2lc").html("NC");
                }
                if (fieldconnected[2] == true) {
                    if (fieldarray[2] != 0 && fieldarray != 3) {
                        $("#field3lc").html("C");
                    }
                } else {
                    $("#field3lc").html("NC");
                }
                if (fieldconnected[3] == true) {
                    if (fieldarray[3] != 0 && fieldarray != 3) {
                        $("#field4lc").html("C");
                    }
                } else {
                    $("#field4lc").html("NC");
                }
                if (fieldconnected[4] == true) {
                    if (fieldarray[4] != 0 && fieldarray != 3) {
                        $("#field5lc").html("C");
                    }
                } else {
                    $("#field5lc").html("NC");
                }
                if (fieldconnected[5] == true) {
                    if (fieldarray[5] != 0 && fieldarray != 3) {
                        $("#field6lc").html("C");
                    }
                } else {
                    $("#field6lc").html("NC");
                }
                fieldconnected = [false, false, false, false, false, false]
                $("#ping").html("2");
                setTimeout(pingTeams, 1000);
            }
            function pingTeams() {
                $("#ping").html("1");
                chat.invoke("pingField", 7);
                setTimeout(checkPongs, 5000);

            }
            setTimeout(pingTeams, 1000);
        });




    });


</script>